[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/acts_as_category"]
	path = vendor/plugins/acts_as_category
	url = git://github.com/bamnet/acts_as_category.git
[submodule "vendor/plugins/authenticates_rpi"]
	path = vendor/plugins/authenticates_rpi
	url = git://github.com/mikldt/authenticates_rpi.git
[submodule "vendor/plugins/authenticates_access"]
	path = vendor/plugins/authenticates_access
	url = git://github.com/mikldt/authenticates_access.git
