log/*.log
tmp/
tmp/**/*
config/database.yml
db/*.sqlite3
.tmp_*
*/.tmp_*
*/*/.tmp_*
*/*/*/.tmp_*
config/initializers/webConf.rb
config/initializers/ldap_initializer.rb
config/initializers/cas_initializer.rb
public/.htaccess
