
	<% if admin_logged_in? %>
	<p>	<%= link_to 'New Background', new_background_path, :class => "link-button" %>
	</p>	<br />
	<% end %>
<div>
	<ul class="img_sel">
		<% Background.all.each do |background| %>
	  <li>&nbsp;&nbsp;&nbsp;<%= image_tag background.image(:thumb), :height => 70, :title => background.image_file_name %><br /></li>
		<% end %>
	</ul>
</div>
<div style="clear:both;"></div>

