<div>
	<ul class="img_sel">
		<% Background.all.each do |background| %>
	  <li><%= form.radio_button(:background_id, background.id) %>&nbsp;&nbsp;&nbsp;<%= image_tag background.image(:thumb), :height => 70, :title => background.image_file_name %><br /></li>
		<% end %>
	  <li style="width:100%;">
	    <p style="font-size:0.9em; color:#666; margin:12px; margin-bottom:24px;">...or upload a new image:</p>
	    <%= form.radio_button(:background_id, "") %>&nbsp;&nbsp;&nbsp;
	    <% form.fields_for :background do |background| %>
	      <%= render :partial => 'backgrounds/form', :locals => {:form => background } %>
	    <% end %>
    </li>
	</ul>
</div>
<div style="clear:both;"></div>

