<h1 class="main-title">All Backgrounds</h1>
<div class="hr_dl flush"><%= image_tag("bl.png", :alt => "") %></div>
<br />
<div id="mc-indent" class="mc-indent">
	<%= render :partial => 'backgrounds/background' %>
</div>
