<h1>New Background</h1>

<% form_for([@background], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', backgrounds_path %>
