/* Flagship Docs (v2) - CSS */
/* Designed by Brian R Zaik (http://brzaik.com) in 2009-2010. */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertica-align:baseline; }
html { font-family:"Myriad Web", Myriad, Helvetica, Arial, sans-serif; }
body { background:#FFFFFF url(../images/customized/woodplanks.jpg) repeat scroll left top; }

a { text-decoration: none; }
a:hover { color:#3399ff; text-decoration: underline; }
h1.main-title { margin:0px; margin-bottom:30px; padding:0px; padding-left:34px; background:url(../images/layout/h1block.png) top left no-repeat; font-size:1.9em; font-weight:600; color:#333; }
h1.main-title span { color:#666; font-weight:normal; font-size:0.5em; padding:0px; margin:0px; display:block; }
h1.main-title span a { color:#666; font-weight:bold; }
h1.main-title span a.cancel-link { color:#dc0000 !important; }
h1.main-title span a.edit-link { color:#f59300 !important; }
div.mc-indent { padding-left:34px; }


/* LINK BUTTONS */
a.link-button { font-size:0.9em; padding:6px 18px; background:#666; color:#FFF; -moz-border-radius:18px; -webkit-border-radius:18px; text-shadow:0 1px 0px #000; -moz-box-shadow: 0 0.2em 0em #999; -webkit-box-shadow: 0 0.2em 0em #999; margin-bottom:25px !important; }
a.link-button:hover { background:#006699; -moz-box-shadow: 0 0.2em 0em #99cccc; -webkit-box-shadow: 0 0.2em 0em #99cccc; }

/* MAIN LAYOUT ELEMENTS */
#wrap { width:70%; margin:30px auto; min-width:940px; background:#f5f5f5 url(../images/layout/wrap_bg.png) top left repeat-x; -moz-border-radius:12px; -webkit-border-radius:12px; -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -moz-box-shadow: 0 0 0.5em #000; -webkit-box-shadow: 0 0 0.5em #000; }
#wrap-padding { padding:40px 20px; padding-bottom:50px; }

#header { background:#99cccc; -moz-border-radius:12px; -webkit-border-radius:12px; -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -moz-box-shadow: 0 0.15em 0.2em #666; -webkit-box-shadow: 0 0.15em 0.2em #666; }
#header h1.expand { font-size:1em; margin-top:4px; }
#header h1.expand a { font-weight:bold; padding:6px 20px; text-shadow:0 1px 0px #FFF; color:#003366; font-size:0.6em; text-transform:uppercase; letter-spacing:0.13em; -moz-border-radius-bottomleft:12px; -webkit-border-bottom-left-radius:12px; -moz-border-radius-bottomright:12px; -webkit-border-bottom-right-radius:12px; }

/* Category Tree */
#cat_tree { background:url(../images/layout/tree_bg.png) bottom left repeat-x; margin:0px; }
#cat_tree_inset { border-bottom:solid 1px #eee; }
#cat_tree-padding { padding:25px 25px 25px 8px; border-bottom:solid 1px #666; }
#cat_tree ul { font-size:0.9em; margin:0px; padding:0px; padding-left:20px; }
#cat_tree li { list-style-type:square; margin:0px; padding:0px; }
#cat_tree a { font-size:1em; color:#333; font-weight:bold; }
a#cat_tree_expand { display:block; }
a#cat_tree_expand:hover { background:#82bdbd; }
ul.tree_root li { list-style: none !important; }
ul.tree_root li a {-moz-border-radius:3px; -webkit-border-radius:3px; display:block; padding:4px 12px; }
ul.tree_root li a:hover { background:#006699; color:#FFF !important; }

#topbar { background:url(../images/layout/tb_bg.png) top left repeat-x; -moz-border-radius:12px; -webkit-border-radius:12px; -moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; -moz-box-shadow: 0 0.15em 0.2em #333; -webkit-box-shadow: 0 0.15em 0.2em #333; }
#topbar-padding { padding:5px 18px; padding-left:12px; }
#topbar { color:#eee; text-shadow:0 1px 0px #000; font-weight:normal; }
#topbar h1 { font-weight:normal; }
#topbar a { font-weight:bold; color:#FFF; }
#topbar-left { float:left; width:44%; }
#topbar-right { padding:8px 0px; padding-top:14px; float:right; width:54%; text-align:right; }

div.flush { margin-left:-20px; margin-right:-20px; }
#dl { background:#ddd url(../images/layout/dlbg.png) top left repeat-x; }
#dl-padding { padding:18px 34px 18px 34px; }
#dltop { background:url(../images/layout/dlbl_tr.png) bottom right no-repeat;padding-right:11px;height:14px; }
#dltop-inner { background:url(../images/layout/dlbl_tl.png) bottom left no-repeat;height:14px; }
#dlmid { background:#ededed; padding:10px 0px; text-align:center; }
#dlbot { background:url(../images/layout/dlbl_br.png) bottom right no-repeat;padding-right:11px;height:14px; }
#dlbot-inner { background:url(../images/layout/dlbl_bl.png) bottom left no-repeat;height:14px; }
#dl-link { height:42px; background:#EDEDED; -moz-border-radius-bottomright:12px; -webkit-border-bottom-right-radius:12px; -moz-border-radius-topright:12px; -webkit-border-top-right-radius:12px; }
#dl-link-padding { padding:8px 35px; }
#dl-link a { color:#0066cc; font-size:1.25em; font-weight:bold; text-decoration: none; }
#dl-link a:hover { color:#3399ff; text-decoration: underline; }
#dl span.details { color:#333 !important; font-size:0.7em; font-weight:normal; padding-left:8px; }
#dl-revs { padding:12px 12px 4px 35px; }
#dl-revs h3 { padding-bottom:12px; font-weight:normal; color:#333; font-size:0.75em; background:url(../images/layout/dlrev_hr.png) bottom center no-repeat; }
div.dl-rev { background:url(../images/layout/dlrev_hr.png) bottom center no-repeat; padding:7px 20px; }
div.dl-rev a { color:#000; font-weight:bold; text-decoration: none; }
div.dl-rev a:hover { color:#3399ff; text-decoration: underline; }
div#dl-revs div#seemore-link { text-align:right; padding:0px; margin:8px 8px 0px 0px; }
div#dl-revs div#seemore-link a { color:#666; font-weight:bold; font-size:0.7em; text-decoration: none; }
div#dl-revs div#seemore-link a:hover { color:#000; text-decoration: underline; }

div.hr_dl { background:url(../images/layout/hr_dl.png) top left repeat-x; height:2px; }
#sb-mid div.hr_dl { margin-left:-20px; }
div.hr_dl2 { background:url(../images/layout/hr_dl2.png) top left repeat-x; height:2px; }


#mc-indent h2 { font-size:1.2em; color:#666; font-weight:bold; margin:0px 0px 18px 0px; padding:20px 0px 0px 0px; }
#mc-indent p { font-size:0.8em; color:#333; line-height:1.2em; margin:0px 0px 14px 0px; padding:0px; }


/* Admin Forms Styles */
p.submitbutton{padding-left:140px;}
form.cmxform fieldset{ background:#e6e6e6; border:solid 1px #999; -moz-border-radius:5px; -webkit-border-radius:5px; font-size:1.2em;margin-bottom:10px;}
form.cmxform input { font-size:1em; }
form.cmxform textarea{font-size:0.9em;width:80%;}
form.cmxform legend{padding:0 2px;font-weight:700;_margin:0 -7px;/* IE Win */}
form.cmxform label{text-transform:uppercase; letter-spacing:0.13em; display:inline-block;line-height:1.8;vertical-align:top;}
form.cmxform fieldset ol{margin:0;padding:0;}
form.cmxform fieldset li{list-style:none;padding:5px;margin:0;}
form.cmxform fieldset fieldset{border:none;margin:3px 0 0;}
form.cmxform fieldset fieldset legend{padding:0 0 5px;font-weight:400;}
form.cmxform fieldset fieldset label{display:block;width:auto;}
form.cmxform em{font-weight:700;font-style:normal;color:red;}
form.cmxform label{ text-shadow:0 1px 0px #000; background:#666;color:#FFF;font-size:0.6em;text-align:right;padding:6px 0px; padding-right:8px;width:120px;}
/* Width of labels */
form.cmxform fieldset fieldset label{margin-left:123px;}
/* Width plus 3 (html space) *//*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */
div.form_group { margin-bottom:25px; }
div.form_group fieldset { padding:14px 0px; border:solid 1px #999; -moz-border-radius:5px; -webkit-border-radius:5px; }
div.form_group input { background:#FFEFEF; font-size:1.15em; border:solid 1px #999; }
div.form_group legend { margin:8px; font-size:1.4em; background:#FFF; font-weight:normal; padding:0px 8px; }
div.form_group label { padding:2px 0px; vertical-align:top; font-weight:bold; padding-right:6px; background:none; color:#333; font-size:0.8em; width:210px; }
div.form_group textarea { width:70%; background:#FFEFEF; border:solid 1px #999; }

/* Search Box */
.index-search { background:url(../images/layout/search_bg.png) center center no-repeat; border:0px; font-size:1.2em; padding:7px 12px; margin-top:2px; padding-left:38px; width:300px; }
.index-search:focus { background:url(../images/layout/search_bg_hover.png) center center no-repeat; }
.no-js { width:60%; }
.auto_complete { position:absolute; z-index:999; width:400px; background:#000; color:#ccc; }
.auto_complete-padding { padding:12px 12px 20px 12px; }
.auto_complete a { color:#ffffcc; }
.auto_complete ul, .auto_complete ol { margin-left:45px; }
.auto_complete li { border-bottom:solid 1px #666; margin:0px; line-height:normal; padding:8px 0px; }
.auto_complete p { margin:0px; padding:0px; }

/* In-page Documents/show styles */
div.info_box { border:solid 1px #666;  -moz-border-radius:7px; -webkit-border-radius:7px; padding:8px; float:right; margin-bottom:20px; margin-left:20px; }
div.info_box p { font-size:0.6em !important; }