.ui-finder-container {
	height:250px;/* HEIGHT MUST BE SPECIFIED OTHERWISE FINDER CONTENTS NOT VISIBLE*/}

.ui-finder *{margin:0;padding:0;}
.ui-finder{position:relative;font:1em/1em Verdana,Arial,Helvetica,sans-serif;background-position:0 0 !important ;}
.ui-finder-wrapper{font-size:0.9em;clear:both;overflow-x:auto !important;overflow-y:hidden !important;}
.ui-finder-header{padding:10px 0 5px ;}
.ui-finder-header:after{content:' ';display:block;clear:both;height:0;line-height:0;}
.ui-finder-title{font-size:0.85em;font-weight:bold;position:absolute;text-align:center;z-index:5;top:5px;left:0;right:0;}
.ui-finder .ui-finder-container{position:relative;width:auto;}
.ui-finder .ui-finder-content{border:0px;position:static;}
.ui-finder .ui-finder-column{
	font-weight:normal;position:absolute;top:1px;left:1px;bottom:1px;border:0px;
	overflow-x:hidden;overflow-y:scroll;}
.ui-finder .ui-finder-column ul,
.ui-finder .ui-finder-column ol{list-style:none;margin:0;padding:0;}
.ui-finder .ui-finder-column .ui-finder-list-item{margin:1px;
	padding:6px 20px 6px 10px;
	line-height:1.3em;position:relative;overflow:hidden;}
.ui-finder .ui-finder-column .ui-finder-list-item.ui-state-default,
.ui-finder .ui-finder-column .ui-finder-list-item.ui-state-hover{top:-2px;padding-top:7px;}
.ui-finder .ui-finder-column .ui-finder-list-item.ui-state-default:first-child,
.ui-finder .ui-finder-column .ui-finder-list-item.ui-state-hover:first-child{top:-1px;padding-top:6px;}
.ui-finder .ui-finder-column .ui-finder-list-item ul,
.ui-finder .ui-finder-column .ui-finder-list-item ol,
.ui-finder .ui-finder-column .ui-finder-list-item div{display:none;}
.ui-finder .ui-finder-column .ui-finder-list-item > a{text-decoration:none;cursor:pointer;display:inline-block;outline:none;position:relative;padding:0 0 0 25px;}
.ui-finder .ui-finder-column .ui-finder-list-item:hover > a{text-decoration:underline;}
.ui-finder .ui-finder-column .ui-finder-list-item.ui-finder-loading{background-image:url(loading.gif);background-repeat:no-repeat;background-position:right center !important;}
.ui-finder-list-item.ui-finder-loading .ui-finder-icon-arrow,
.ui-finder-file .ui-finder-icon-arrow,
.ui-finder-list-item-file .ui-finder-icon-arrow{visibility:hidden;}
.ui-finder-button{display:block;float:right;width:35px;height:22px;/*top:-5px;*/
left:1px;/*margin-left:-1px;*/
position:relative;}
.ui-finder-button .ui-icon{left:9px;top:4px;position:absolute;}
.ui-finder .ui-finder-column .ui-finder-list-item .ui-finder-icon,
.ui-finder .ui-finder-column .ui-finder-list-item .ui-finder-icon-arrow{display:block;position:absolute;top:25%;z-index:2;}
.ui-finder .ui-finder-column .ui-finder-list-item .ui-finder-icon-arrow{right:0px;}
.ui-finder .ui-finder-column .ui-finder-list-item .ui-finder-icon-file,
.ui-finder .ui-finder-column .ui-finder-list-item .ui-finder-icon-folder{left:0px;top:0px;}
