<h1><%=h group.name %><%= link_to 'Edit', edit_group_path(group), :class => "link-button" %></h1>
<h3>Members: <% group.users.each do |u| %><%= link_to u.full_name, u %><% if not group.users.last == u %>, <% end %><% end %></h3>