<h1 class="main-title">All Groups</h1>
<div class="hr_dl flush"><%= image_tag("bl.png", :alt => "") %></div>
<br />
<div id="mc-indent" class="mc-indent">
	<% if admin_logged_in? %>
		<%= link_to 'New Group', new_group_path, :class => "link-button" %>
		<br />
	<% end %>
	<%= render :partial => @groups %>
</div>
