<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><%= link_to "Home", categories_path %></li>
    <li class="active"><%= @group.name.capitalize %></li>
  </ol>

  <div class="panel-body">
    <h3> 
      <%= @group.name.capitalize %>
    </h3>
    <hr />
    <h4> Members </h4>
      
    <br />
    <h4> Documents Uploaded </h4>
  </div>

</div>