<!-- Revision upload button -->
<%= link_to "Upload Revision", "", {:class => "btn btn-default btn-xs", "data-toggle" => "modal", "data-target" => "#revisionModal"} %>

<!-- Revision upload modal -->
<div class="modal fade" id="revisionModal" tabindex="-1" role="dialog" aria-labelledby="revisionModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="revisionModal">Revision Upload</h4>
      </div>
      <!-- Check if a user is logged in -->
      <% if !current_user.nil? %>
        <!-- Check if user has permissions to upload -->
        <% if can_upload_documents(@category) %>
          <%= render partial: "revisions/form.html.erb" %>
        <% else %>
          <div class="panel-heading">
            Sorry, you do not have permission to upload documents
            to this category.
          </div>
        <% end %>
      <% elsif current_user.nil? %>
        <div class="panel-heading">
          Please
          <%= link_to "sign in", "/auth/cas" %>
          to upload documents!
        </div>
      <% elsif @permitted_categories.nil? %>
        <div class="panel-heading">
          You do not have permission to upload any documents.
        </div>
      <% else %>
        <div class="panel-heaing">
          An unknown error has occured. Please contact a site administrator
          for more details.
        </div>
      <% end %>
    </div>
  </div>
</div>
