<% content_for :title, "New Revision" %>
<h1 class="main-title">
  New Revision for <%= @document.title %>
  <span><%= link_to 'Cancel', documents_path, :class => 'cancel-link' %></span>
</h1>
<%= render 'form' %>
