<span id="clippy"></span>
<script type="text/javascript">
  render_clippy('<%= download_document_revision_path(@document, 'current', :only_path => false) %>','<%= swf_path('clippy.swf') %>');
</script>
