<div class="categories_grid">
  <% if @documents %>
    <%= paginate @documents %>
    <% @documents.each do |doc| %>
      <%= render partial: "documents/document_list_item", locals: {doc: doc} %>
    <% end %>
  <% end %>
</div>