<% if can_view_document(doc) %>
  <div class= "unstyled_link">
    <div class="document_tile">
      <%= link_to doc do %>
        <div class="doc_tile_hover">
          <%= image_tag "icons/#{document_icon(doc.current_revision.extension_type)}" %>
          <br />
          <%= doc.title %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>