<div class="auto_complete-padding">
<h3>Matched Documents:</h3>
<ol>
  <% for document in @documents %>
	<li><%= link_to h(document.title), document %></li>
  <% end %>
</ol>
<br />
<p style="text-align:right;"><%= link_to "All Results", search_documents_path(:query => params[:query]) %></p>
</div>
