<h1>Documents</h1>
<ol>
  <% for document in @documents %>
	<li>
		<% link_to document do %>
			<div style="float:left; width:60px;"><%= image_tag("http://documents.studentsenate.rpi.edu/images/cobalt/frame/icon_pdf.png", :alt => "", :width => 50) %></div>
			<div style="float:right; width:215px; padding:8px 0px;">
				<h1><%=h document.title %></h1>
				<h2><%=h document.category.name %></h2>
			</div>
			<div style="clear:both;"></div>
		<% end %>
	</li>
  <% end %>
</ol>
<p style="text-align:right; font-size:1.1em; margin:8px 12px;"><%= link_to "All Results", search_documents_path(:query => params[:query]) %></p>
