<noscript>
	<% form_tag(search_documents_path, :method => 'post') do -%>
	  <%= text_field_tag 'query', '', :class => 'index-search no-js' %>
	  <%= submit_tag "Search", :style => 'font-size:1.6em;' %>
	<% end %> 
</noscript>

<div id="search-jQuery">
	<!-- if there is Javascript enabled -->
	<input id="search_query" class="index-search" name="query" size="30" type="text" />
	<div class="auto_complete" id="search_query_auto_complete"></div>
</div>
