<noscript>
	<div id="no-js">
		<% form_tag(search_documents_path, :method => 'post') do -%>
	  	<%= text_field_tag 'query', '', :class => 'index-search' %>
	  	<%= submit_tag "", :class => 'search-button', :style => 'font-size:1.6em;' %>
		<% end %>
	</div> 
</noscript>

<div id="search-jQuery" style="display:none;">
	<!-- if there is Javascript enabled -->
	<input id="search_query" class="index-search" name="query" size="30" type="text" />
	<div class="auto_complete" id="search_query_auto_complete"></div>
	<%= link_to "", "#", :id => "search_ex", :style => "display:none;" %>
</div>
