<h1 class="main-title">
	Editing Document
	<span><%= link_to 'Show', @document %> | <%= link_to 'Cancel', documents_path, :class => 'cancel-link' %></span>
</h1>

<%= render :partial => 'form', :locals => { :document => @document, :button_text => 'Update' } %>
