<div id="doc_listing_inpage">
	<h1 class="main-title">Documents</strong></h1>
	<br />
	<h2>Browse All Accessible Documents</h2>
        <%= render :partial => 'documents/table', :locals => {:documents => @documents} %>
</div>
