<div id="doc_listing_inpage">
	<h1 class="main-title">Documents</strong></h1>
	<br />
	<h2>Browse All Accessible Documents</h2>
	<ol>
	  <% for document in @documents %>
		<li class="<%= cycle('even', 'odd') %>">
			<% link_to document do %>
				<div style="float:left; text-align:center; width:80px;"><%= image_tag("icons/icon_#{document.current_revision.type}.png", :alt => "", :width => 50) %></div>
				<div style="float:right; width:800px; padding:8px 0px;">
					<h1><%=h document.title %></h1>
					<h2><%=h document.category.name %></h2>
				</div>
				<div style="clear:both;"></div>
			<% end %>
		</li>
	  <% end %>
	</ol>
</div>