<h2>You searched for: <b><%= params[:query] %></b></h2>
<br /><h3>Matched Documents:</h3>
<ol>
	<% for document in @documents %>
	<li><%= link_to h(document.title), document  %></li>
  	<% end %>
</ol>
<br /><h3>Matched Categories:</h3>
<ol>
	<% for category in @categories %>
	<li><%= link_to h(category.name), category %></li>
	<% end %>
</ol>
