// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
  margin-left: 10px;
}

.banner {
  padding-right: 100px;
}

.unstyled_link {
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.categories_nav {
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
      background: #E6E6E6;
      border-radius: 5px;
    }
  }
}

.footer {
  margin: 0px;
  padding: 0px;
  bottom: 0;
  position: absolute;
  font-size: 11px;
  align: center;
}

.documents_grid {
  float: left;
  width: 100%;
}

.upload_button_container{

  .upload_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #708EA4;
    border-radius: 0px;
    box-shadow: 2px 2px 1px #0A0A0A;
    text-align: center;
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: white;
    &:hover {
      background-color: #29516D;
      text-decoration: none;
      color: white;
    }
    .upload_button_text {
      padding: 5px;
    }
  }
}

.category_btn {
  margin-top: 15px;
  margin-bottom: 15px;
  .category_text {
    padding: 5px 5px 5px 5px;
    //background-color: #D1D1E0;
    background-color: #708EA4;
    color: #FFFFFF;
    border-radius: 2px;
  }
  a {
    color: white;
  }
}

.remove_border_radius {
  input {
    border-radius: 0px;
  }
}