// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.document_actions {
  text-align: center;
}

.document_tile {
  padding: 2px;
  height: 212px;
  width: 182px;
  float: left;
  text-align: center;
  .doc_tile_hover {
    &:hover { 
      background-color: #C2D6FF;
    }
  }
}

.document_listitem_hover {
  padding: 5px;
  &:hover {
    background-color: #C2D6FF;
  }
}

.document_show {
  margin-left: 300px;
  position:  relative;
  text-align: center;
}