<%= link_to category do %>
  <div class="iconlist_padding">
    <div class="ins">
      <div class="type-folder"><%= image_tag("icons/icon_folder.png", :alt => "Folder") %></div>
    </div>
    <h2><%= category.name %></h2>
  </div>
<% end %>
