<% if !@category.nil? and @category.parent %>
  <div class="nav nav-tabs">
    <li> 
      <%= link_to "<< prev", @category.parent, :class => "prev_category" %>
    </li>
  </div>
<% elsif !@category.nil? %>
  <div class="nav nav-tabs">
    <li>
      <%= link_to "<< prev", categories_path, :class => "prev_category" %>
    </li>
  </div>
<% end %>