<h1 class="main-title">
	Editing Category
	<span><%= link_to 'Show', @category %> | <%= link_to 'Cancel', categories_path, :class => 'cancel-link' %></span>
</h1>

<%= render :partial => 'form', :locals => { :category => @category, :button_text => 'Update' } %>

