<div class="categories_nav">
  <div class="upload_button_container">
    <a class="upload_button" href="/">
      <span class="upload_button_text">
        Upload
      </span>
      <i class="fa fa-file-o fa-lg"></i>
    </a>
    <hr />
    <div class="search_categories">
      <%= text_field_tag :article_search, 
            nil, :class => "form-control",
            placeholder: "Search docs and categories ..." %>
    </div>
    <div class="categories_list">
      <% if !current_user.nil? and current_user.is_admin? %>
        <div class="new_category_btn">
            <%= link_to "New Category", new_category_path, :class => "new_category_text" %>
        </div>
      <% end %>
      <h4> Browse categories </h4>
      <ul class="nav nav-stacked">
        <% @categories.each do |cat| %>
          <li> 
            <a href="/"> 
              <i class="fa fa-caret-right fa-lg"></i>
              <%= cat.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <br />
</div>
<div class="categories_grid">
  Documents
</div>