<% content_for :title, "Categories" %>
<h1 class="main-title">Home Category</h1>
<div class="hr_dl flush"><%= image_tag("bl.png", :alt => "") %></div>
<br />
<div id="mc-indent" class="mc-indent">
  <%= link_to 'New Category', new_category_path, :class => "link-button" %><br /><br />
  <ul class="iconlist">
    <% @categories.each do |category| %>
      <li><%= render :partial => 'block', :locals => {:category => category} %></li>
    <% end %>
  </ul>
  <div style="clear:both;"></div>
</div>
