<div class="panel panel-default">
  <ol class="breadcrumb">
    <li><%= link_to "Home", categories_path %></li>
    <li class="active">New Category</li>
  </ol>

  <div class="panel-body">
    <%= render partial: "form" %>
  </div>
</div>